@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.height-600 {
    height: 600px;
    flex: 1
}

.height-900 {
    height: 900px;
}

.height-300 {
    height: 300px;
    margin: 0;
}

.height-400 {
    height: 400px;
    margin: 0;
}

.width-600 {
    width: 600px;
}

.width-1200 {
    width: 1200px;
}

.crop {
    border: 10px solid #363b35;
}

h1.large {
    font-size: 100px;
}

h1.x-large {
    font-size: 120px;
}

h1.large small {
    padding-top: 0;
    line-height: 0.5;
    margin-top: 20px;
    display: block;
}

h1.banner {
    font-variant: small-caps;
    font-size: 60px;
}

.transcribed {
    font-size: 80px;
}

.transcribed-date {
    font-size: 20px;
}

.photo {
    max-height: 400px;
    margin-bottom: 20px;
}

.gender {
    font-size: 60px;
    margin-right: 10px;
}

h1.time-chart {
    margin-top: 40px;
    font-size: 400%;
    margin-bottom: 40px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

.projector {
    // animation: fadein 2s;
    display: none;
    height: 919px;
    background-color: #ffffff;
    background-image: url('../images/10950204-p15.png');
}

