.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.height-600 {
    height: 600px;
}

.height-900 {
    height: 900px;
}

.height-300 {
    height: 300px;
}

h1.large {
    font-size: 100px;
}

h1.x-large {
    font-size: 120px;
}

h1.large small {
    padding-top: 0;
    line-height: 0.5;
    margin-top: 20px;
    display: block;
}

.photo {
    max-height: 600px;
}

.gender {
    font-size: 140%;
    margin-right: 10px;
}

h1.time-chart {
    margin-top: 40px;
    font-size: 400%;
    margin-bottom: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

.projector {
    height: 919px;
    background-color: #ffffff;
}

