{% extends "base.html" %}
{% block content %}
<div class="container-fluid projector">
    <div class="row">
    {% for total in totals %}
        {% if total.0 != 'None' %}
            <div class="col-md-4">
                <div class="centered height-900"><div class="large text-muted gender">{{ total.0 }}</div><h1 class="x-large">{{ total.1 }}</h1></div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
    <script>
         $(function(){
            $(".projector").hide();
            $(".projector").fadeIn(2000);
            setTimeout(function(){
                $(".projector").fadeOut(2000,function(){
                    window.location.href = "/{{ next }}/";
                })
            }, {{ delay }})
        });
    </script>
{% endblock %}
