{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="centered height-600"><h1 class="large">{{ total }} pages<br><small>classified</small></h1></div>
        </div>
        <div class="col-md-6">
            <div id="totals" class="center-block"></div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script>
        var data = [{
          values: {{ type_totals }},
          labels: {{ type_names | safe }},
          type: 'pie'
        }];

        var layout = {
          height: 600,
          width: '100%',
          legend: {
            font: {
                family: 'Helvetica Neue',
                size: 12
            }
          }
        };

        Plotly.newPlot('totals', data, layout);
    </script>
{% endblock %}