{% extends "base.html" %}
{% block content %}
<div class="container-fluid projector">
      <div class="centered">
        <div class="height-300 centered">
          <h1 class="large">{{ total }} photos identified</h1>
        </div>
        <div class="flex-row">
            <div class="height-400 centered">
                <div id="totals" class="centered"></div>
            </div>
            <div class="height-400 centered">
              <img class="img-responsive crop  photo" src="/static/images/photo.jpg">
              <div class="transcribed-date">&ndash; identified at {{ updated }}</div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script>
        var data = [{
          values: [ {{ front }}, {{ side }}],
          labels: ['Front portrait', 'Side portrait'],
          type: 'pie',
          marker: {
            colors: colours
          },
          insidetextfont: {
            family: 'Lato',
            size: 18,
            color: '#fff'

          },
          outsidetextfont: {
            family: 'Lato',
            size: 18
          } 
        }];

        var layout = {
          height: 300,
          legend: {
            font: {
                family: 'Lato',
                size: 16
            },
            x: 0.65,
            y: 1,
            xanchor: 'left',
            yanchor: 'auto',
            bgcolor: 'rgba(0,0,0,0)'
          },
          margin: {
            l: 0,
            r: 0,
            t: 0,
            b: 0,
            pad: 0,
            autoexpand: false
          },
          paper_bgcolor: 'rgba(0,0,0,0)',
          plot_bgcolor: 'rgba(0,0,0,0)',
        };

        Plotly.newPlot('totals', data, layout);
    </script>
    <script>
         $(function(){
            $(".projector").hide();
            $(".projector").fadeIn(2000);
            setTimeout(function(){
                $(".projector").fadeOut(2000,function(){
                    window.location.href = "/{{ next }}/";
                })
            }, {{ delay }})
        });
    </script>
{% endblock %}