{% extends "base.html" %}
{% block content %}
<div class="container-fluid projector">
    <div class="row">
        <div class="col-md-6">
            <div class="centered height-900">
                <div>
                <h1 class="large">{{ total }} photos<br><small>found</small></h1>
                <div id="totals" class="centered"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="centered height-900"><div><img class="img-responsive thumbnail photo" src="/static/images/photo.jpg">{{ citation }}</div></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script>
        var data = [{
          values: [ {{ front }}, {{ side }}],
          labels: ['Front portrait', 'Side portrait'],
          type: 'pie',
          marker: {
            colors: colours
          },
          insidetextfont: {
            family: 'Lato',
            size: 16,
            color: '#fff'

          },
          outsidetextfont: {
            family: 'Lato',
            size: 16
          } 
        }];

        var layout = {
          height: 300,
          width: '100%',
          legend: {
            font: {
                family: 'Lato',
                size: 16
            },
            x: 0.7,
            y: 1,
            xanchor: 'left',
            yanchor: 'auto'
          },
          margin: {
            l: 0,
            r: 0,
            t: 0,
            b: 0,
            pad: 0,
            autoexpand: false
          }
        };

        Plotly.newPlot('totals', data, layout);
    </script>
{% endblock %}