{% extends "base.html" %}
{% block content %}
<div class="container-fluid projector">
<div class="centered height-900">
<h1 class="large">The Real Face of White Australia</h1>
<img src="/static/images/logo-small.png">
<h1 class="banner">TRANSCRIBE-A-THON</h1>
</div>

</div>
{% endblock %}
{% block extra_scripts %}
    <script>
         $(function(){
            $(".projector").hide();
            $(".projector").fadeIn(2000);
            setTimeout(function(){
                $(".projector").fadeOut(2000,function(){
                    window.location.href = "/{{ next }}/";
                })
            }, {{ delay }})
        });
    </script>
{% endblock %}